* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
}

.page {
    position: fixed;
    height: 100%;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    background-color: #f3f3f3;
    padding: 0;
    margin: 0;
}

/* Sorting */

.nav-bar {
    background-color: #2711a0;
    height: 10%;
    width: 100%;
    position: absolute;
}

.chart-types {
    list-style-type: none;
    margin-block-start: 0;

}

.chart-types li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 2rem;
    float: left;
}

.chart-link {
    color: white;
}

.sort-types {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
}

.sort-types li {
    display: inline-block;
    margin: 0 1rem;
    font-size: 2rem;
    float: right;
    color: white;
    cursor: pointer;
}

.bar-chart {
    height: 100%;
}

.color-map {
    height: 100%;
}

.pixel-map {
    height: 100%;
}

.chart {
    height: 80%;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 8% auto;
    padding-bottom: 5%;
    
}

.buttons-bar {
    display: block;
}

/* BarChart */
.bar {
    width: 10px;
    background-color: rgb(51, 226, 217);
    border: 1px solid rgb(35, 139, 139);
    display: inline-block;
}

/* ColorMap */
.color-bar {
    width: 5px;
    height: 100%;
    display: inline-block;
}

/* PixelMap */
.pixel-bar {
    width: 5px;
    height: 100%;
    display: inline-block;
}

/* Pathfinding */
.grid {
    text-align: center;
}

.row {
    height: 2rem;    
}

.box {
    height: 2rem;
    width: 2rem;
    border: 1px solid #000;
    display: inline-block;
}

.node-start {
    background-color: green;
}

.node-finish {
    background-color: red;
}

